.card-body {
    padding: .3rem .8rem .5rem .8rem !important;
}

.action .page-link, .action .page-link-opposite {
    border-radius: 50%;
    padding: 0.175rem 0.55rem !important;
}

.log .page-link, .log .page-link-opposite {
    border-radius: 8%;
    padding: 0 !important;
}


.nav-link {
    font-size: .92rem;
    padding: .5rem !important;
    border-radius: 0 !important;
}

    .nav-pills .nav-link {
        color: var(--primary);
        font-weight: 500;
    }

    .nav-pills .nav-link:hover {
        color: var(--primary);
        font-weight: 600;
    }

    .nav-pills .nav-link.active {
        color: #fff;
        background-color: var(--primary);
    }


.form-field {
    outline: 0;
    background: transparent;
    transition: border-color 0.3s;
    border: 1px solid #dee2e6;
    border-radius: 7px;
    border-bottom-color: #dee2e6 !important;
}

    .form-field:focus {
        /*border-image: linear-gradient(to right, #38ef7d, #38ef7d);*/
        border: 1px solid #38ef7d;
        border-image-slice: 1;
    }

/*
#RevenueDetail .table .thead-light td{
    color: var(--text-color);
    border-color: #e9ecef;
    background-color: #e7f5fe;
    padding-left: 8px;
    padding-right: 8px;
    color: #71797E;
}

#RevenueDetail.table tbody td{
    color: #8898aa;
}*/

.addTabButton {
    display: block;
}

.removeTabButton {
    display: none;
}

#RevenueDetail .table .thead-light td, #MaintenanceDetail .table .thead-light td, #judiciaryTab .table .thead-light td, #communicationTab .table .thead-light td, #Property .table .thead-light td, #OwnerDetail .table .thead-light td, #terminationTab .table .thead-light td, #Rooms .table .thead-light td {
    /* color: var(--text-color);*/
    border-color: #e9ecef;
    background-color: #e7f5fe;
    padding-left: 8px;
    padding-right: 8px;
    color: #71797E;
}

/*#adInventoryTab.table tbody td, #dirtyTab.table tbody td, #blockandmaintenanceTab .table tbody td {
    color: #8898aa;
}*/

.tabContent table{
    color: #71797E !important;
}