.table[b-4ynpa16ikf] {
    font-size: 16px;
}

    .table thead tr td[b-4ynpa16ikf] {
        background-color: #4B9F48;
        color: white;
        text-align: center;
        padding: 12px;
        vertical-align: middle;
        border-top: none;
        font-size: .9rem;
    }

    .table tbody td[b-4ynpa16ikf] {
        text-align: center;
        padding: 8px;
        vertical-align: middle;
        border-top: none;
        border-bottom: 1px solid #dee2e6;
        font-size: .9rem;
    }

        .table tbody td p[b-4ynpa16ikf] {
            cursor: pointer;
        }

            .table tbody td p.today[b-4ynpa16ikf] {
                background-color: #4B9F48;
                color: white;
                font-weight: 400;
                border-radius: 20%;
                width: 50%;
                margin-left: 20%;
            }

        .table tbody td:not(.today):hover[b-4ynpa16ikf] {
            background-color: #f2f2f2;
        }



