@*@page "/piechart"
@using ChartJs.Blazor.PieChart

<h3>Pie Chart</h3>

<div style="width:400px">
    <PieChart PieConfig="PieConfig"></PieChart>
</div>

@code {
    private PieConfig PieConfig { get; set; }

    protected override void OnInitialized()
    {
        ConfigurePieConfig();
    }

    private void ConfigurePieConfig()
    {
        PieConfig = new PieConfig
            {
                Options = new PieOptions
                {
                    Responsive = true,
                    Title = new OptionsTitle
                    {
                        Display = false,
                        Text = "Data",
                    },
                    Legend = new Legend
                    {
                        Display = true,
                        Position = Position.Right,
                    }
                }
            };

        string[] labels = { "Positive", "Neutral", "Negative" };
        int[] values = { 40, 20, 5 };

        PieDataset<int> dataset = new PieDataset<int>(values)
            {
                BackgroundColor = new[]
                {
                ColorUtil.ColorHexString(255, 91, 91),
                ColorUtil.ColorHexString(16, 196, 105),
                ColorUtil.ColorHexString(249, 200, 81),
            }
            };

        foreach (var label in labels)
        {
            PieConfig.Data.Labels.Add(label);
        }

        PieConfig.Data.Datasets.Add(dataset);
    }
}
*@